theoretical_nn_training/__pycache__/configuration.cpython-38.pyc
theoretical_nn_training/__pycache__/data_processing.cpython-38.pyc
theoretical_nn_training/__pycache__/datatypes.cpython-38.pyc
theoretical_nn_training/__pycache__/gen_and_train.cpython-38.pyc
theoretical_nn_training/__pycache__/generators.cpython-38.pyc
theoretical_nn_training/__pycache__/loss_funcs.cpython-38.pyc
theoretical_nn_training/__pycache__/mike_torch_lib.cpython-38.pyc
theoretical_nn_training/__pycache__/models.cpython-38.pyc
theoretical_nn_training/__pycache__/scaling_torch_lib.cpython-38.pyc
theoretical_nn_training/__pycache__/training.cpython-38.pyc
theoretical_nn_training/models/**
